@model IEnumerable<Movie>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movies";
}
<h1>Movies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieGenres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <td style="width: 50%">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @foreach (var genre in item.MovieGenres)
                    {
                       <p>@Html.DisplayFor(g => genre.Genre)</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeRating)
                </td>
                <td>
                    <a href="/Movies/Edit/4">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>