@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Movies";
}
<div>
    <div style ="width:20%; float:left">
        <h3>Add new movie: </h3>
    </div>
    <div style ="width:20%; float:left">
        <a type="button" class="btn btn-lg btn-success" asp-controller="Movies" asp-action="Create">Add Movie</a>
    </div>
</div>
<br />
<br />
<br />
<div>
    <div style ="width:30%; float:left">
        <h1>Movies</h1>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th align="center">
                <h6>Number of showtimes</h6>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
               <td>
                    @Html.DisplayFor(modelItem => item.ShowTimes.Count)
                </td>
                <td >
                    <a asp-action="Detail" asp-route-id="@item.Id">Detail</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>