@model IEnumerable<Cinema>

<body>
	<div class="container">
		<div class="row">
			@foreach (var cinema in Model)
			{
				<div class="col-lg-5 mb-3">
					<div class="card">
						<div class="card-header">
							<div>
								<h1 class="fw-normal">@cinema.Name.Remove(cinema.Name.Length - 5)</h1>
							</div>
						</div>
						<div class="card-body">
							<form method="post" asp-controller="Cinema" asp-action="Showtimes" asp-route-id="@cinema.Id" enctype="multipart/form-data">
								<div class="mb-3">
									<!-- Company -->
									<p>
										<span style="font-size: 24px">Company:</span>
										<span style="font-size: 20px">@cinema.Company.Name</span>
									</p>
								</div>
								<div class="mb-3">
									<!-- Address -->
									<p>
										<span style="font-size: 24px">Address:</span>
										<span style="font-size: 20px">@cinema.Address.Street @cinema.Address.BuildingNumber @cinema.Address.City, @cinema.Address.Country</span>
									</p>
								</div>
								<div class="mb-3">
									<!-- Number of Cinema Halls -->

									<p><span style="font-size: 24px ">Number of halls:  </span> <span style="font-size: 20px">@cinema.CinemaHalls.Count</span></p>
								</div>
								<div class="mb-3">
									<!-- Open and close hours -->
									<p>
										<span style="font-size: 24px">Open hours:  </span>
										@{
											if (cinema.OpenTimeHour.ToString().Length < 2)
											{
												<span style="font-size: 20px" style="color:red;"><text>0</text>@cinema.OpenTimeHour :</span>
											}
											else
											{
												<span style="font-size: 20px">@cinema.OpenTimeHour :</span>
											}
											if (cinema.OpenTimeMinutes.ToString().Length < 2)
											{
												<span style="font-size: 20px">@cinema.OpenTimeMinutes<text>0</text></span>
											}
											else
											{
												<span style="font-size: 20px">@cinema.OpenTimeMinutes</span>
											}
										}
									</p>
									<p>
										<span style="font-size: 24px">Close hours:  </span>
										@{
											if (cinema.CloseTimeHour.ToString().Length < 2)
											{
												<span style="font-size: 20px"><text>0</text>@cinema.CloseTimeHour :</span>
											}
											else
											{
												<span style="font-size: 20px">@cinema.CloseTimeHour :</span>
											}
											if (cinema.CloseTimeMinutes.ToString().Length < 2)
											{
												<span style="font-size: 20px">@cinema.CloseTimeMinutes<text>0</text></span>
											}
											else
											{
												<span style="font-size: 20px">@cinema.CloseTimeMinutes</span>
											}
										}
									</p>
								</div>
								<div class="mb-3">
									<div style ="width:30%; float:left">
										<button type="submit" class="btn btn-primary">Showtimes</button>
									</div>
									<div style="width:30%; float:left">
									<a type="button" class="btn btn-primary" asp-action="Clients" asp-route-id="@cinema.Id">Clients</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<br>
			}
		</div>
	</div>
</body>
