@using MovieTheater.ViewModels
@model CreateShowtimeViewModel

<style>
	#cardHeader {
		font-size: 30px;
		color: lightcoral;
	}

	#cardBody {
		font-size: 20px;
		color: royalblue;
	}
</style>

<form method="post" asp-controller="Cinema" asp-action="ShowtimeCreate" enctype="multipart/form-data">
	<input type="hidden" asp-for="Id" id="">
	<div class="card" style="width:800px">
		<div class="card-header">
			<label class="mb-3" id="cardHeader">Showtime creation</label>
			<br />
			<lable>Please fill all the nessecary information in order to create a showtime for <span style="font-size:20px">@Model.Cinema.Name</span>.</lable>
		</div>
		<div class="card-body">
			<div class="mb-3">
				<label class="form-label" id="cardBody">Select the movie:</label>
				<select asp-for="MovieId" name="MovieId" id="MovieId">
					@{
						foreach (var movie in Model.Movies)
						{
							<option value="@movie.Id"> @movie.Name</option>
						}
					}
				</select>
				<span asp-validation-for="Movie" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label class="form-label" id="cardBody">Select the cinema hall:</label><br />
				@{
					var cinemaHallCount = 0;
					foreach (var cinemaHall in Model.Cinema.CinemaHalls.OrderBy(x => x.Id))
					{
						cinemaHallCount++;
						<div class="form-check">
							<input class="form-check-input" asp-for="CinemaHallId" type="radio" value="@cinemaHall.Id.ToString()" name="CinemaHallId" id="@cinemaHall.Id" />
							<label class="form-labl" for="CinemaHallId" style="border-radius: 25px; margin-right: 15px;">Hall-@cinemaHallCount (Number of seats: @cinemaHall.AvailableSeats)</label>
						</div>
					}
				}
				<span asp-validation-for="Cinema" class="text-danger"></span>
			</div>
			<div class="mb-3" style="width:400px">
				<label class="form-lable" type="radio" id="cardBody">Showtime day</label>
				<input asp-for="Day" type="date" value="@DateTime.Today" class="form-control" />
				<span asp-validation-for="Day" class="text-danger"></span>
			</div>
			<div class="mb-3" style="width:400px">
				<label class="form-label" id="cardBody">Showtime start</label>
				<input asp-for="Time" type="time" class="form-control" />
				<span asp-validation-for="Time" class="text-danger"></span>
				@{
					var openTime = new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day,
					Model.Cinema.OpenTimeHour, Model.Cinema.OpenTimeMinutes, 0);
					var closeTime = new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day,
					Model.Cinema.CloseTimeHour, Model.Cinema.CloseTimeMinutes, 0);
				}
				<lable style="font-size: 14px;">Please consider the movie theater working hours (@openTime.ToShortTimeString() - @closeTime.ToShortTimeString())</lable>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Submit showtime</button>
			</div>
			@if (TempData["Error"] != null)
			{
				<br />
				<div class="col-md-8 alert alert-danger">
					<span><b>Error</b> - @TempData["Error"]</span>
				</div>
			}
		</div>
	</div>
</form>
